@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@font-face {
    font-family: 'DFLiSong Std W7';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/DFLiSongStd-W7.otf') format('opentype');
}

@font-face {
    font-family: 'SUIT SemiBold';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/SUIT-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'HYQiHeiB5-55';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/HYQiHeiB5-55.ttf') format('truetype');
}

@font-face {
    font-family: 'Pretendard Medium';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Pretendard-Medium.ttf') format('truetype');
}